body{
    display: flex;
    flex-direction: column;
}

header{
    height: 150px;
    background-color: aqua;
}
.headerDark{
    background-color: darkslategray;
    color: aliceblue;
}

nav{
    height: 40px;
    background-color: beige;
}
.navDark{
    background-color: saddlebrown;
}

section{
    display: flex;
    flex-direction: row;
}
.section1{
    flex-grow: 1;
    background-color: black;
    color: azure;
}
.section2{
    flex-grow: 4;
    background-color: azure;
    color:green;
}
.section2Dark{
    background-color: slategrey;
}

.section3{
    flex-grow: 1;
    background-color: darkblue;
}
.section3Dark{
    background-color: midnightblue;
}

footer{
    height: 60px;
    background-color: aqua;
    text-align: right;
}
.footerDark{
    background-color: darkslategray;
    color: aliceblue;
}

.exercicio1{
    color: red;
    font-size: xx-large;
}
.exercicio2{
    color: blue;
}

.dark{
    background-image: url('lua.png');
    background-size: 38px;
    height: 31px;
    width: 31px;
}
.light{
    background-image: url('sol.jfif');
}