.div-oculta {
    display: none;
    width: 200px;
    height: 100px;
    background-color: lightblue;
    position: absolute;
    z-index: 1;
    padding: 10px;
}

.link1:hover + .div-oculta.link1,
.link2:hover + .div-oculta.link2,
.link3:hover + .div-oculta.link3,
.link4:hover + .div-oculta.link4,
.link5:hover + .div-oculta.link5 {
    display: block;
    background-color: cornflowerblue;
}